.dropdown-menu {
  box-shadow: none;
  border-color: #eee;
  right: -115;
  min-width: 280;
  background-color: #ebebeb;
  border-top-color:  rgb(36, 68, 112);
  border-top-style: solid;
  border-top-width: 3px;
  margin: 0 0 0;
  width: 50px;

}
.dropdown-menu > li > a {
  color: #777;
}
.dropdown-menu > li > a > .glyphicon,
.dropdown-menu > li > a > .fa,
.dropdown-menu > li > a > .ion {
  margin-right: 10px;
}
.dropdown-menu > li > a:hover {
  background-color: #e1e3e9;
  color: #333;
}
.dropdown-menu > .divider {
  background-color: #eee;
}
.triangle-up  {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #244470;
  margin-right: 21px;
  margin-top: 3px;
  transition: 0.5s all;

}